body {
    padding-top: 100px;
}

a {
    color: #284F77;
}

a:hover {
    text-decoration: none;
}

pre {
    background: #E6E6E6;
    padding: 0 20px;
    margin: 40px 0;
}

.block {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
}

.navbar-brand {
    color: #666;
}

.datatable {
    font-size: 0.9rem;
}